@import url(./colors-light.css) only screen and (prefers-color-scheme: light);
@import url(./colors-dark.css) only screen and (prefers-color-scheme: dark);

html {
  background-color: var(--body-background);
  overflow-y: scroll;
}

body {
  color: var(--text-color);
}

main img {
  max-width: 100%;
}

h1 {
  font-size: 4.5rem;
  margin-block-start: 2.4rem;
}
h2 {
  font-size: 3.2rem;
  margin-block-start: 1.3rem;
}
h3 {
  font-size: 2.4rem;
  margin-block-start: 1rem;
}
h4 {
  font-size: 1.7rem;
  margin-block-start: 0.6rem;
}
h5 {
  font-size: 1.3rem;
  margin-block-start: 0.4rem;
}
h6 {
  font-size: 0.8rem;
  margin-block-start: 0.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
  margin-block-end: 0.25rem;
}
